.jobs-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.jobs-page .job-card {
  padding: 2rem;
  border: 3px solid #303030;
}
.jobs-page .job-card .card-content {
  display: flex;
  gap: 1rem;
}

.jobs-page .job-card .card-content > * {
  flex: 1;
}

@media (max-width: 768px) {
  .jobs-page .job-card .card-content {
    flex-direction: column;
  }
}

.jobs-page .job-card .card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs-page .job-card .card-heading .card-actions button {
  font-size: 1rem;
}
